@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DocScan Admin</h1>
    <p class="lead">It is admin panel to handle Categories, users, user roles etc.</p>
    
</div>

<div class="row">
    
    <div class="col-md-4">
        <h2>Document Controller</h2>
        <p>
            Here you can create, update, delete, and list categories
        </p>
        <p>
            <a class="btn btn-default" href="/Document/index">Document</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Storage  Controller</h2>
        <p>
            Here you can create, update, delete, and list categories
        </p>
        <p>
            <a class="btn btn-default" href="/storagelocation/index">Storage</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Document Type Controller</h2>
        <p>
            Here you can create, update, delete, and list Document Types.
        </p>
        <p>
            <a class="btn btn-default" href="/DocumentType/index">Document Type</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Category Controller</h2>
        <p>
            Here you can create, update, delete, and list categories
        </p>
        <p><a class="btn btn-default" href="/category/index">Categories</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Users Controller</h2>
        <p>Here you can create, update, delete, and list Users </p>
        <p><a class="btn btn-default" href="/user/index">Users</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Roles Controller</h2>
        <p>Here you can create, update, delete, and list Roles.</p>
        <p><a class="btn btn-default" href="/role/index">Roles</a>
        </p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Department Controller</h2>
        <p>
            Here you can create, update, delete, and list categories
        </p>
        <p><a class="btn btn-default" href="/Department/index">Department</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Policy Controller</h2>
        <p>Here you can create, update, delete, and list Users </p>
        <p><a class="btn btn-default" href="/Policy/index">Policy</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Payment Controller</h2>
        <p>Here you can create, update, delete, and list Roles.</p>
        <p><a class="btn btn-default" href="/Payment/index">Payment</a>
        </p>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Plan Controller</h2>
        <p>
            Here you can create, update, delete, and list categories
        </p>
        <p>
            <a class="btn btn-default" href="/Plan/index">Document</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Product Type Controller</h2>
        <p>
            Here you can create, update, delete, and list categories
        </p> 
        <p>
            <a class="btn btn-default" href="/ProductType/index">Storage</a>
        </p>
    </div>
   
</div>